.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
  padding-top: 40px;

  .logo-container {
    display: flex;

    align-items: center;
    height: 100%;
    width: 50px;

    .logo {
      width: 60px;

      .title {
        display: flex;
      }
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
